<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td class = "col-3"><%= student.name %></td>
        <td class = "col-3"><%= student.age %></td>
        <td class = "col-3"><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
